{%- assign _data = include.data -%}
{%- assign _parts = _data.parts -%}
{%- assign _options = _data.options -%}
{%- assign _base = page.path | prepend: "/" | replace: 'index.md', '' -%}

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Title</th>
      <th>PDF</th>
      {%- if _options.update -%}
      <th>Update</th>
      {%- endif -%}
      {%- if _options.code -%}
      <th>Code</th>
      {%- endif -%}
      <th>Homework</th>
    </tr>
  </thead>
  {%- for _part in _data.parts -%}
  {%- assign _name = _part.name -%}
  {%- if _name -%}
  <thead>
    <tr>
      <th colspan="7">{{ _name }}</th>
    </tr>
  </thead>
  {%- endif -%}
  {%- assign _lectures = _part.lectures -%}
  <tbody>
    {%- for _lecture in _lectures -%}
    <tr>
      {%- if _lecture.exam -%}
      <td style="text-align: center;" colspan="2">
        <strong>{{ _lecture.date }}</strong>
      </td>
      <td style="text-align: center;">
        {%- if _lecture.pdf -%}
        <a href="{{ _lecture.pdf }}"><strong>{{ _lecture.exam }}</strong></a>
        {%- else -%}
        <strong>{{ _lecture.exam }}</strong>
        {%- endif -%}
      </td>
      <td style="text-align: center;" colspan="4">
        <strong>{{ _lecture.coverage }}</strong>
      </td>
      {%- else -%}
      <td>{{ _lecture.index }}</td>
      <td>{{ _lecture.date }}</td>
      <td>
        {%- if _lecture.handout -%}
        <a href="{{ _lecture.pdf }}">{{ _lecture.title }}</a>
        {%- else -%}
        {{ _lecture.title }}
        {%- endif -%}
      </td>
      <td style="text-align: center;">
        {%- if _lecture.handout -%}
        <div class="talk-links">
          <ul class="menu menu--nowrap menu--inline">
            <li>
              <a class="button button--circle pdf-button"
                 itemprop="pdf"
                 href="{{ _lecture.handout }}"
                 target="_blank">
                <i class="fas fa-file-pdf"></i>
              </a>
            </li>
          </ul>
        </div>
        {%- endif -%}
      </td>
      {%- if _options.update -%}
      {%- if _lecture.handout -%}
      <td style="text-align: center;">
        {%- assign _path = _base | append: _lecture.handout} -%}
        {%- for _file in site.static_files -%}
        {% if _file.path == _path %}
        {%- assign _t = _file.modified_time -%}
        <p style="margin: 0;">{{ _t | date: "%m/%d<br>(%H:%M)" }}</p>
        {% endif %}
        {%- endfor -%}
      </td>
      {%- else -%}
      <td></td>
      {%- endif -%}
      {%- endif -%}
      {%- if _options.code -%}
      <td style="text-align: center;">
        {%- assign _code = _lecture.code -%}
        {%- if _code -%}
        <a href="{{ _code }}">code</a><br>
        {%- endif -%}
      </td>
      {%- endif -%}
      <td style="text-align: center;">
        {%- for _homework in _lecture.homework -%}
        {%- if _homework.link -%}
        <a href="{{ _homework.link }}">{{ _homework.name }}</a>
        {%- else -%}
        {{ _homework.name }}
        {%- endif -%}
        {%- if _homework.date -%}
        <br>(by {{ _homework.date }})
        {%- endif -%}
        {%- if _homework.solution -%}
        <br>(<a href="{{ _homework.solution }}">sol</a>)
        {%- endif -%}
        <br>
        {%- endfor -%}
      </td>
      {%- endif -%}
    </tr>
    {%- endfor -%}
  </tbody>
  {%- endfor -%}
</table>
