{%- assign _talk = include.talk -%}
<li>
  {{ _talk.date }}
  {%- if _talk.place-url -%}
  , <strong><a href="{{ _talk.place-url }}">{{ _talk.place }}</a></strong>
  {%- else -%}
  , <strong>{{ _talk.place }}</strong>
  {%- endif -%}
  {%- if _talk.author -%}
  {%- assign _author = site.data.authors[_talk.author] -%}
  {%- if _author -%}
  &nbsp;by <a href="{{ _author.url }}">{{ _talk.author }}</a>
  {%- else -%}
  &nbsp;by {{ _talk.author }}
  {%- endif -%}
  {%- endif -%}
  <div class="talk-links">
    <ul class="menu menu--nowrap menu--inline">
    {%- if _talk.pdf -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf" href="{{ _talk.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
    {%- endif -%}

    {%- if _talk.youtube -%}
      <li>
        <a class="button button--circle youtube-button" itemprop="sameAs" href="https://www.youtube.com/watch?v={{ _talk.youtube }}" target="_blank">
          <div class="icon">{%- include svg/icon/social/youtube.svg -%}</div>
        </a>
      </li>
    {%- endif -%}
    </ul>
  </div>
</li>
