{%- assign _trip = include.trip -%}
<li>
  {{ _trip.date-from }} - {{ _trip.date-to }}
  {%- if _trip.place-url -%}
  , <strong><a href="{{ _trip.place-url }}">{{ _trip.place }}</a></strong>
  {%- else -%}
  , <strong>{{ _trip.place }}</strong>
  {%- endif -%}
  , {{ _trip.location }}
  <div class="trip-links">
    <ul class="menu menu--nowrap menu--inline">
      {%- if _trip.photos -%}
      <li>
        <a class="button button--circle google-photos-button" itemprop="sameAs"
          href="https://photos.app.goo.gl/{{ _trip.photos }}" target="_blank">
          <div class="icon">{%- include svg/icon/social/google-photos.svg -%}</div>
        </a>
      </li>
      {%- endif -%}

      {%- if _trip.talk -%}
      <strong>(Talk:&nbsp;</strong>
      {%- for _talk in _trip.talk -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf"
          href="{{ _talk.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
      {%- endfor -%}
      <strong>)</strong>
      {%- endif -%}

      {%- if _trip.poster -%}
      <strong>(Poster:&nbsp;</strong>
      {%- for _poster in _trip.poster -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf"
          href="{{ _poster.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
      {%- endfor -%}
      <strong>)</strong>
      {%- endif -%}

      {%- if _trip.report -%}
      <strong>(Report: &nbsp;</strong>
      {%- for _report in _trip.report -%}
      <li>
        <a class="button button--circle pdf-button" itemprop="pdf"
          href="{{ _report.pdf }}" target="_blank">
          <i class="fas fa-file-pdf"></i>
        </a>
      </li>
      {%- endfor -%}
      <strong>)</strong>
      {%- endif -%}
    </ul>
  </div>
</li>
