.author-profiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.author-profile {
  max-width: 24rem;
  min-width: 24rem;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  margin: map-get($spacers, 3);
  font-size: map-get($base, font-size-sm);
  background-color: $text-background-color;
  @include media-breakpoint-down(md) {
    max-width: 16rem;
    min-width: 16rem;
    align: center;
    text-align: center;
  }
}
.author-profile__avatar {
  width: 5rem;
  height: 5rem;
  margin-top: map-get($spacers, 2);
  border-radius: 50%;
}
.author-profile__name {
  color: black;
  font-size: map-get($base, font-size-lg);
  font-weight: map-get($base, font-weight-bold);
  margin: 0.5rem 0!important;
  @include media-breakpoint-down(md) {
    font-size: map-get($base, font-size-sm);
  }
}
.author-profile__desc {
  color: black;
  margin: 0.5rem 0!important;
  font-weight: 400;
}
.author-profile__links {
  @include media-breakpoint-up(md) {
    float: left;
  }
  @include overflow(auto);
}
