.author-links {
  & > ul {
    margin: 0;
    & > li > {
      .pdf-button {
        @include clickable($text-color-1, $pdf-color);
      }
      .mail-button {
        @include clickable($text-color-1, $mail-color);
      }
      .facebook-button {
        @include clickable($text-color-1, $facebook-color);
      }
      .youtube-button {
        @include clickable($text-color-1, $youtube-color);
      }
      .twitter-button {
        @include clickable($text-color-1, $twitter-color);
      }
      .weibo-button {
        @include clickable($text-color-1, $weibo-color);
      }
      .scholar-button {
        @include clickable($text-color-1, $scholar-color);
      }
      .dblp-button {
        @include clickable($text-color-1, $dblp-color);
      }
      .google-photos-button {
        @include plain() { background-color: rgba(#000, .1); }
        @include hover() { background-color: rgba(#000, .3); }
        @include focus() { background-color: rgba(#000, .3); }
      }
      .google-plus-button {
        @include clickable($text-color-1, $google-plus-color);
      }
      .telegram-button {
        @include clickable($text-color-1, $telegram-color);
      }
      .medium-button {
        @include clickable($text-color-1, $medium-color);
      }
      .zhihu-button {
        @include clickable($text-color-1, $zhihu-color);
      }
      .douban-button {
        @include clickable($text-color-1, $douban-color);
      }
      .linkedin-button {
        @include clickable($text-color-1, $linkedin-color);
      }
      .github-button {
        @include clickable($text-color-1, $github-color);
      }
      .npm-button {
        @include clickable($text-color-1, $npm-color);
      }
    }
  }
}
